@page
@model VRBike.Tours.DetailsModel

@{
    ViewData["Title"] = Model.Tour.PageTitle + " - Bike official tour cicloturismo Verona";
   
}

@section metatags
    {
    <meta name="Description" content="@Model.Tour.Description" />
    <meta name="Author" content="Verona Bike" />
}

<div id="map"></div>

<div class="mb-5">
    <h4>Tour</h4>
    <hr />
    <dl class="row">
       
        <dd class="col-sm-12 text-center h3">
            @Html.DisplayFor(model => model.Tour.PageTitle)
        </dd>
        <dd class="col-sm-12 text-center h5">
            Km: @Html.DisplayFor(model => model.Tour.Distanza)
            Ascent: @Html.DisplayFor(model => model.Tour.Salita)
            Descent: @Html.DisplayFor(model => model.Tour.Discesa)
            difficulty: @Html.DisplayFor(model => model.Tour.Difficulty)
        </dd>
        
        <dd class="col-sm-12 h5">
            @Html.DisplayFor(model => model.Tour.Percorso)
        </dd>

        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Tour.Description)
        </dd>
     
       
        <dd class="col-sm-12">          
                @foreach (var item in Model.Tour.Videos)
                {
                <a href="@item.Link" target="_blank" class=" text-decoration-none">
                   <dl class="mt-3 row">
                       <dd class="col-sm-12 col-md text-center"><img src="~/youtubeTumb/@item.Icon" class="img-thumbnail">
                        
                            <div class="h4 text-center">Youtube video</div>
                        </dd>
                        <dd class="col-sm-12 col-md">@Html.DisplayFor(modelItem => item.Title)</dd>
                   </dl>
                </a>
                   
                }

          
        </dd>
        <dd class="col-sm-12">
            Show tour in:
           
                @foreach (var item in Model.Tour.Bikeapps)
                {
                <a href="@item.Link" target="_blank" class=" text-decoration-none">
                    <dl class="mt-3 row">
                        <dd class="col-sm-12">
                            <img src="~/icons/@item.Icon" class="komootsvg">
                            <span class="h4 text-center">@item.Title</span>
                        </dd>                     
                    </dl>
                </a>               
                }

           
        </dd>
    </dl>
</div>



@section Scripts{
    <script>
        getMap(@Model.Tour.MapCenter,@Model.Tour.MapZoom);
        addLayer("@Model.Tour.GeoJsonFile", 8, "@Model.Tour.Color");
    </script>

    @foreach (var item in Model.Tour.TourMarkers)
    {
       <script>
            addTourMarker('@item.Classname', '@item.Html', @item.IconSize, @item.Position, '#')
        </script>

    }
     
}