@page
@model VRBike.Tours.IndexModel

@{
    ViewData["Title"] = "Tour Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>Order</p>
<a asp-page="./Index" asp-route-sortOrder="@Model.PageTitleSort" class="btn btn-outline-dark">
    Name
</a>
<a asp-page="./Index" asp-route-sortOrder="@Model.DistanzaSort" class="btn btn-outline-dark">
   Lenght
</a>
<a asp-page="./Index" asp-route-sortOrder="@Model.SalitaSort" class="btn btn-outline-dark">
   Ascent
</a>
<table class="table">
    <thead>
        <tr>
            <th>
               
              
                    @Html.DisplayNameFor(model => model.Tours[0].PageTitle)
              
            </th>
            <th>
             
                   KM
              
            </th>
            <th>
               
                   Ascent
              
            </th>
         
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tours) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PageTitle)<br>
                @Html.DisplayFor(modelItem => item.Percorso)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distanza)
                </td>
                <td class="flex-sm-nowrap">
                    @Html.DisplayFor(modelItem => item.Salita)
                </td>
           
          
            <td >
                    <a asp-page="./Edit" asp-route-id="@item.TourID" class="invisible">Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.TourID">Go</a> 
                    <a asp-page="./Delete" asp-route-id="@item.TourID" class="invisible">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
