@page
@model VRBike.Pages.IndexModel

@{
    ViewData["Title"] = "Tour Index";
}


<div id="map"></div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name or destination:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn btn-outline-dark">All Tours</a>
        </p>
    </div>
</form>
<p>Official Routes</p>
<a asp-page="./Index"  asp-route-currentFilter="national" class="btn btn-outline-dark">
    Nazional 
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-currentFilter="regional" class="btn btn-outline-dark">
    Regional
</a>&nbsp;&nbsp;
<a asp-page="./Index"  asp-route-currentFilter="local" class="btn btn-outline-dark">
    Local
</a>&nbsp;&nbsp;
<a asp-page="./Index"  asp-route-currentFilter="custoza" class="btn btn-outline-dark">
    Teree del Custoza
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-currentFilter="valpolicella" class="btn btn-outline-dark">
    Valpolicella
</a>
<p>order</p>
<a asp-page="./Index" asp-route-sortOrder="@Model.PageTitleSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Name
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.DistanzaSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Lenght
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.SalitaSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Ascent
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.DifficultySort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Difficulty
</a>&nbsp;&nbsp;

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>


                @Html.DisplayNameFor(model => model.Tours[0].PageTitle)

            </th>
            <th>

                KM

            </th>
            <th>

                Ascent

            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tours)
        {
            <tr>
                <td>
                    <img src="/images/@Url.Content(item.TumbUrl)" />
                   
                </td>
                <td>
                    <div class="bl-div-icon">@Html.DisplayFor(modelItem => item.TourMarkers.FirstOrDefault().Html)</div>
                    @Html.DisplayFor(modelItem => item.PageTitle)<br>
                    @Html.DisplayFor(modelItem => item.Percorso)<br>
                    Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distanza)
                </td>
                <td class="flex-sm-nowrap">
                    @Html.DisplayFor(modelItem => item.Salita)
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.TourID" class="invisible">Edit</a>
                    <a asp-page="./Tours/Details" asp-route-id="@item.TourID" class="text-decoration-none"><span style=' color:azure'>&#9654;</span></a>
                    <a asp-page="./Delete" asp-route-id="@item.TourID" class="invisible">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



@section Scripts{
    <script>
        getMap([45.42, 10.98], 10);
    </script>
    @foreach (var item in Model.Tours)
    {
        <script>
            addLayer("@item.GeoJsonFile", 3, "@item.Color", './Tours/Details?id=@item.TourID');
        </script>
        @foreach (var marker in item.TourMarkers)
        {
           
            if (item.Raccolta.Contains("local"))
            {
                <script>
                    addLocalMarker('@marker.Classname', '@marker.Html', @marker.IconSize, @marker.Position, './Tours/Details?id=@item.TourID');
                </script>
            }
            else
            {
                <script>
                    addTourMarker('@marker.Classname', '@marker.Html', @marker.IconSize, @marker.Position, './Tours/Details?id=@item.TourID');
                </script>
            }
        }
    }
}
