@page
@model VRBike.Pages.IndexModel

@{
    ViewData["Title"] = "GPS and video tour";
}

@section metatags
    {
    <meta name="Description" content="Il sito che raccoglie le piste ciclabili ufficiali di Verona dedicate al cicloturismo" />
    <meta name="Author" content="Verona Bike" />
}


<div id="map"></div>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color mt-2">
        <p>
            <input type="text" name="SearchString" value="@Model.CurrentFilter" placeholder="search tour" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index" class="btn btn-outline-dark">All Tours</a>
        </p>
    </div>
</form>
<div class="row">
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="national" class="btn btn-outline-dark d-grid">
    Nazional 
</a></div>
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="regional" class="btn btn-outline-dark  d-grid">
            Regional
        </a>
    </div>
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="local" class="btn btn-outline-dark  d-grid">
            Local
        </a>
    </div>
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="custoza" class="btn btn-outline-dark  d-grid">
            Teree del Custoza
        </a>
    </div>
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="valpolicella" class="btn btn-outline-dark  d-grid">
            Valpolicella
        </a>
    </div>
    <div class="mt-1 col-12 col-sm-12 col-md">
        <a asp-page="./Index" asp-route-currentFilter="easy" class="btn btn-outline-dark  d-grid">
            Easy
        </a>
    </div>
</div>

<p class="mt-2">order</p>
<a asp-page="./Index" asp-route-sortOrder="@Model.PageTitleSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Name
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.DistanzaSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Lenght
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.SalitaSort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Ascent
</a>&nbsp;&nbsp;
<a asp-page="./Index" asp-route-sortOrder="@Model.DifficultySort" asp-route-currentFilter="@Model.CurrentFilter" class="btn btn-outline-dark">
    Difficulty
</a>&nbsp;&nbsp;

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                Tour
           </th>
            <th>
                KM
            </th>
            <th>
                Ascent
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tours)
        {
            if (item.Active)
            {
            <tr>
                <td>
                    <a asp-page="./Tours/Details" asp-route-id="@item.TourID" class="text-decoration-none">
                    <img src="/images/@Url.Content(item.TumbUrl)" />
                   </a>
                </td>
                <td>
                    <a asp-page="./Tours/Details" asp-route-id="@item.TourID" class="text-decoration-none">
                    <div class="bl-div-icon">@Html.DisplayFor(modelItem => item.TourMarkers.FirstOrDefault().Html)</div>
                   
                        <h4>@Html.DisplayFor(modelItem => item.Percorso)</h4>
                    @Html.DisplayFor(modelItem => item.PageTitle)<br>
                    Difficulty: @Html.DisplayFor(modelItem => item.Difficulty)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distanza)
                </td>
                <td class="flex-sm-nowrap">
                    @Html.DisplayFor(modelItem => item.Salita)
                </td>
            </tr>
            }
        }
    </tbody>
</table>



@section Scripts{
    <script>
        getMap([45.42, 10.98], 10);
    </script>
    @foreach (var item in Model.Tours)
    {
        if (item.Active)
        {
            <script>
                addLayer("@item.GeoJsonFile", 3, "@item.Color", './Tours/Details?id=@item.TourID');
            </script>
            @foreach (var marker in item.TourMarkers)
            {

                if (item.Raccolta.Contains("local"))
                {
                    <script>
                        addLocalMarker('@marker.Classname', '@marker.Html', @marker.IconSize, @marker.Position, './Tours/Details?id=@item.TourID');
                    </script>
                }
                else
                {
                    <script>
                        addTourMarker('@marker.Classname', '@marker.Html', @marker.IconSize, @marker.Position, './Tours/Details?id=@item.TourID');
                    </script>
                }
            }

        }
    }

}
