@page
@model VRBike.Bikeapps.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bikeapp[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bikeapp[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bikeapp[0].Link)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bikeapp[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bikeapp[0].Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bikeapp) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Icon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BikeappID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BikeappID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BikeappID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
