@page
@model VRBike.Pages.TourCollections.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div id="map"></div>

<div>
    <h4>TourCollection</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourCollection.PageTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourCollection.PageTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourCollection.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourCollection.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourCollection.Percorso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourCollection.Percorso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourCollection.Raccolta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourCollection.Raccolta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourCollection.Risorse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourCollection.Risorse)
        </dd>
        <dd class="col-sm-10">
             tours
            <table class="table">
                <tr><td>titolo</td><td>Percorso</td></tr>
                @foreach (var item in Model.TourCollection.Tours)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.PageTitle)</td>
                        <td>@Html.DisplayFor(modelItem => item.Percorso)</td>
                        <td>

                            <a asp-page="/Tours/Details" asp-route-id="@item.TourID">Tour Details</a>
                           
                        </td>
                    </tr>
                }

            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TourCollection?.TourCollectionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>


@section Scripts{
    <script>
        getMap([45.42, 10.98], 10);

      
       
    </script>
    @foreach (var item in Model.TourCollection.Tours)
    {
    <script>
        addLayer("@item.GeoJsonFile", 3);
     </script>

        @foreach (var marker in item.TourMarkers)
        {


        <script>
            addTourMarker('@marker.Classname', '@marker.Html', @marker.IconSize, @marker.Position, '#');
            </script>

    }

    }

   

}

