@page
@model VRBike.Pages.TourMarkers.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TourMarker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.TourID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.TourID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.IconSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.IconSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.Classname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.Classname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.Html)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.Html)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.Tooltip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.Tooltip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.LinkUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.LinkUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TourMarker.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TourMarker.Active)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TourMarker.TourMarkerID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
